/***
Blog Page
***/

/*--Block Article--*/
.blog-top {margin-bottom:10px;font-size:2em;font-family:'Microsoft YaHei'}
.blog-page {margin-top:10px;font-family:'Microsoft YaHei'}
.blog-page p {color:#222}
.blog-article  .blog-title{font-size:1.5em;color:#222;margin-left:5px}
.blog-article .blog-title:hover{color:#306cb5;}

.blog-img {width:100%;margin-bottom:2px}
.blog-page .blog-tag-data li {padding: 0;}
.blog-page .blog-tag-data li i {color: #d85546;}
.blog-page .blog-tag-data li a {padding: 0;color: #555;margin-right: 8px;}
.blog-page .blog-tag-data {margin-bottom: 2px;}
.blog-page .blog-tag-data ul.blog-tags a {background:#eee;padding:1px 4px;margin:0;display:inline-block;}
.blog-page .blog-tag-data ul.blog-tags a:hover {background:#ddd;text-decoration: none;}
.btn-blue {background-color:#2878c8;padding:5px;border-radius:3px;color:#fff}
.btn-blue:hover {background-color:#295c8e;color:#eee}
.btn-blue:active {background-color:#2878c8;}
.blog-images li > a > img{width:25%;height:40%}
/*For Responsive*/
@media (max-width: 768px) {
  .blog-page .blog-tag-data .blog-tag-data-inner {text-align: left;}  
}