/***
Blog Page
***/

/*--Block Article--*/
.blog-top {margin-bottom:10px;font-size:1.6em;font-family:'宋体';color:#1868b8;font-weight:bold;}
.blog-page {margin-top:10px;font-family:'Microsoft YaHei';padding:0 2% 0 2%}
.blog-page p {color:#555;}
.blog-article  .blog-title{font-size:1.5em;color:#306cb5;}
.blog-article .blog-title:hover{color:#b5306c;}
.blog-img {width:90%;margin-bottom:2px;margin-top:2px;margin-left:5%}
.blog-page .blog-tag-data li {padding: 0;margin-left:5%}
.blog-page .blog-tag-data li i {color: #d85546;}
.blog-page .blog-tag-data li a {padding: 0;color: #555;margin-right: 8px;}
.blog-page .blog-tag-data {margin-bottom: 2px;}
.blog-page .blog-tag-data ul.blog-tags a {background:#eee;padding:1px 2px;margin:2px;display:inline-block;}
.blog-page .blog-tag-data ul.blog-tags a:hover {background:#ddd;text-decoration: none;}
.blog-tags a {background:#ddd;padding:1px 2px;margin:2px;display:inline-block;color:#777;border-radius:5px}
.blog-tags a:hover {background:#fff}
.blog-tags i {color:#d85546}
.btn-blue {background-color:#2878c8;padding:5px;border-radius:3px;color:#fff}
.btn-blue:hover {background-color:#295c8e;color:#eee}
.btn-blue:active {background-color:#2878c8;}
.blog-images li {margin-left:-5px}
.blog-images a:hover {color:#d85546}
.blog-images li > a > img{width:32px;margin-right:10px}
.blog-page .blog-type {color:#eb493d;background:rgba(0,0,0,0);float:right;font-size:0.5em;margin-right:5px;border-radius:5px}
.blog-page .blog-type:hover {color:#fff;background:rgba(238,39,39,0.7);}
.tab-title > li > a {color:#d85556}
.tab-title > li > a:hover {color:#c83536}

.blogcontent {color:#111;background:#fafafa;padding:10px}
.blogcontent h2 {text-align:center}
.blogcontent p {font-size:14px;line-height:26px;text-indent:2em;font-family:'Microsoft YaHei'}
.blogcontent p > i {text-indent:0em;}
.blogcontent li {font-size:14px;line-height:24px;text-indent:2em;font-family:'Microsoft YaHei'}
.blogcontent .imginblog {width:auto;text-align:center}
.blogcontent .codeblock {background-color:#fff; border:1px solid #ccc; border-radius:5px}
.blogcontent .codeblock p {line-height:9px !important;}
.blogtopinfo {font-size:10px;color:#555;text-align:center !important}
.blogtopinfo > span > a {margin-left:5px}
.greencode {color:#080;}
.blogcontent p .btninblog {background-color:#6898c8;padding:2px;border-radius:3px;color:#fff}
.cmdblack {background:rgba(0,0,0,0.5);color:#fff;padding:0 2px;border-radius:2px}
.alist li > a:hover{color:#a30;}

.sidebar-tags  i {color:#d85546 !important;}
.sidebar-tags  a {padding:3px;margin-left:5px;border-radius:5px}
/*For Responsive*/
@media (max-width: 560px) {
  .blog-page .blog-tag-data .blog-tag-data-inner {text-align: left;}
}

/*--Topics--*/
.topic {width:20%;margin:10px;text-align:center;float:left}
.topic a > img {min-width:100px;opacity:1;border:1px solid rgba(0,0,0,0)}
.topic a > img:hover {min-width:100px;opacity:0.8;border:1px solid #6af}
.topic a > p {font-size:1.2em;font-family:'Microsoft YaHei';margin:2px}

.alltopics a {color:#933;}
.alltopics a:hover {color:#369;}
.alltopics a > p {font-size:1.1em;border-left:5px solid rgba(0,0,0,0);}
.alltopics a > p:hover {font-size:1.1em;border-left:5px solid #a77;}

.topiccontent {color:#222;background:#eee;padding:10px}
.topiccontent h2 {text-align:center}
.topiccontent .date {font-size:10px;color:#555;text-align:center !important}
.topiccontent p {font-size:14px;line-height:24px;text-indent:2em;font-family:'Microsoft YaHei'}
.topiccontent .imgintopic {width:auto;text-align:center}
.topiccontent .pinfo {color:#777;text-align:center}