/***
Blog Page
***/

/*--Block Article--*/
.blog-top {margin-bottom:10px;font-size:1.5em;color:#222;font-weight:bold;}
.blog-page {margin-top:2px;font-family:'Microsoft YaHei';padding:0 1% 0 1%}
.blog-page p {color:#555;}
.blog-article {padding:0;}
.blog-article .blog-title{font-size:1.5em;line-height:36px;}
.blog-article .blog-title i {color:#888;}
.blog-article:hover .blog-title i {color:#08e;}
.blog-article:hover .readmore {background:#cc3300;}
.blog-article:hover .blog-tags a {background:#777}
.blog-article:hover .readmore {background:#cc3300;}
.blog-article .hover-blue {color:#555;}
.blog-article .hover-blue:hover {color:#2299ee;}
.blog-img {width:90%;margin-bottom:2px;margin-top:2px;margin-left:5%}
.blog-page .blog-tag-data li {padding: 0;margin-left:5%}
.blog-page .blog-tag-data li i {color: #d85546;}
.blog-page .blog-tag-data li a {padding: 0;color: #555;margin-right: 8px;}
.blog-page .blog-tag-data {margin-bottom: 2px;}
.blog-tags a {background:#999;padding:0 1px;margin:2px;display:inline-block;color:#fff;border-radius:5px}
.blog-tags a:hover {background:#aaa}
.blog-tags i {color:#d85546}

.btn-blue {background-color:#2878c8;padding:3px;border-radius:3px;color:#fff;display:inline-block;}
.btn-blue:hover {background-color:#295c8e;color:#fff}
.btn-blue:active {background-color:#2878c8;}
.btn-red {background-color:#cc0000;padding:3px;border-radius:3px;color:#fff;display:inline-block;}
.btn-red:hover {background-color:#990000;color:#fff}
.btn-red:active {background-color:#cc0000;}
.btn-orange {background-color:#ee4400;padding:3px;border-radius:3px;color:#fff;display:inline-block;}
.btn-orange:hover {background-color:#cc3300;color:#fff}
.btn-orange:active {background-color:#ee4400;}

.blog-images li {margin-left:-5px !important;}
.blog-images a:hover {color:#d85546}
.blog-images li > a > img{width:32px;margin-right:10px}
.blog-page .blog-type {color:#eb493d;background:rgba(0,0,0,0);float:right;font-size:0.5em;margin-right:5px;border-radius:5px}
.blog-page .blog-type:hover {color:#fff;background:rgba(238,39,39,0.7);}
.tab-title > li > a {color:#d85556}
.tab-title > li > a:hover {color:#c83536}

.share-level {padding:5px;border:1px solid #4c0;border-left:5px solid #4c0}
.picture-show {border-bottom:3px solid rgba(0,0,0,0);cursor:pointer;}
.picture-show:hover {border-bottom:3px solid rgba(0,105,255,0.5);opacity:0.85;cursor:pointer;}

.blogcontent {color:#111;background:#fefefe;padding:20px 50px;min-height:500px;overflow:auto;}
.blogcontent h2 {text-align:center}
.blogcontent p {font-size:16px;line-height:32px;text-indent:2em;}
.blogcontent p > a, span, i {text-indent:0;}
.blogcontent .icon-question-sign {margin-left:10px;}
.blogcontent .blog-sub-title {font-size:20px;line-height:24px;text-indent:0;padding:0 10px;margin-top:1.5em;border-left:10px solid #f65;border-right:10px solid #f65;display:inline-block}
.blogcontent .blog-sub-title b {padding:5px 0;}
.blogcontent .blog-sub-title:before {display:inline-block;position:relative;top:-5px;right:5px;content:"";width:30px;height:1px;background:#f65}
.blogcontent .blog-sub-title:after {display:inline-block;position:relative;top:-5px;left:5px;content:"";width:30px;height:1px;background:#f65}
.blogcontent .syntaxhighlighter {max-height:900px;overflow-y:scroll;}
.blogcontent .blog-quote {font-size:0.9em;line-height:24px;padding:0 10px;margin-left:2em;border-left:5px solid #ccc;}
.blogcontent .imginblog {width:auto;text-align:center}
.blogcontent .imginblog img {max-width:800px;}
.blogcontent .codeblock {background-color:#534; color:#0e0; padding:1px 5px}
.blogcontent .codeblock p {line-height:9px !important;}
.blogcontent .no-indent {text-indent:0}
.blogcontent p .btninblog {background-color:#6898c8;padding:2px;border-radius:3px;color:#fff}
.blogcontent .blog-important-part {line-height:24px;text-indent:0;padding:10px;margin:1.2em;border:1px solid #6af;border-bottom:7px solid #6af;display:inline-block}
.blogtopinfo {font-size:14px;color:#555;text-align:center !important}
.blogtopinfo > span > a {margin-left:5px}
.cmdblack {background:rgba(0,0,0,0.75);color:#fff;padding:0 2px;border-radius:2px}
.alist li > a:hover{color:#a30;}
.greencode {color:#080;}

.width-percent-50 {width:50%;margin-left:25%;}
.width-percent-60 {width:60%;margin-left:20%;}
.width-percent-70 {width:70%;margin-left:15%;}
.width-percent-80 {width:80%;margin-left:10%;}
.width-percent-90 {width:90%;margin-left:5%;}

.sidebar-tags a {background:#fff !important;padding:3px;margin:5px;border-radius:5px}
.sidebar-tags a:hover {background:#09f !important;color:#fff !important}
.sidebar-tags a:hover i {color:#acf !important}
.sidebar-tags i {color:#d85546 !important;}
/*For Responsive*/
@media (max-width: 560px) {
  .blog-page .blog-tag-data .blog-tag-data-inner {text-align: left;}
}

/*Topics-index*/
.topic-top {font-size:1.6em;color:#222;font-weight:bold}
.topicbody {position:relative;float:left;margin:1.5%;width:22%;min-width:150px;min-height:232px;border-top:5px solid rgba(0,0,0,0);border-bottom:5px solid rgba(0,0,0,0);text-align:center;transition:all 0.3s}
.topicbody:hover {border-top:5px solid #bb573a;border-bottom:5px solid #bb573a}
.topicbody img {position:relative;z-index:0}
.topicbody p {position:relative;margin-top:-10%;background:rgba(0,0,0,0.8);border-radius:20%;color:#fff;text-shadow:1px 1px 5px #333;font-size:1.2em;font-family:'Microsoft YaHei';z-index:99}
.topicbody .topicbody-con {color:#d50;font-family:'Microsoft YaHei'}
.topicbody .topicbody-type {position:absolute;right:5px;top:5px;color:#fff;background:#c30;padding:5px 2px;border-radius:50%;border:3px solid rgba(255,255,255,1)}

/*--Topics--*/
#topics {min-height:800px;display:block;background:#fff}
.topic {position:relative;width:20%;margin:2%;min-height:240px;text-align:center;float:left;font-family:'Microsoft YaHei';overflow:auto;}
.topic a > img {width:99%;opacity:1;border:2px solid rgba(0,0,0,0)}
.topic a > img:hover {min-width:100px;opacity:0.8;border:2px solid #6af}
.topic a > p {font-size:1.2em;margin:2px}
.topic .topic-con {color:#d50;margin:2px}
.topic .topic-type {position:absolute;right:5px;top:5px;color:#fff;background:#c30;padding:5px 2px;border-radius:50%;border:3px solid rgba(255,255,255,1)}

.alltopics a {color:#933;}
.alltopics a:hover {color:#369;}
.alltopics a > p {border-left:5px solid rgba(0,0,0,0);}
.alltopics a > p:hover {border-left:5px solid #a77;}
.alltopics-type {color:#fff;background:#555;padding:0 2px;border-radius:2px;font-size:1.1em}

.topiccontent {color:#222;background:#fff;padding:10px;min-height:800px;overflow:auto;}
.topiccontent .topic-title {color:#333;font-size:1.5em;font-weight:bold;text-indent:0;}
.topiccontent .topictopinfo {font-size:14px;display:inline-block;font-weight:normal;float:right}
.topiccontent h2 {text-align:center}
.topiccontent .date {font-size:10px;color:#555;text-align:center !important}
.topiccontent p {font-size:16px;line-height:24px;text-indent:0;font-family:'Microsoft YaHei'}
.topiccontent .imgintopic {width:auto;text-align:center}
.topiccontent .pinfo {color:#777;text-align:center}
.topiccontent .no-indent {text-indent:0}
.topiccontent p > a, span, i {text-indent:0;}
.topiccontent .icon-question-sign {margin-left:10px;cursor:pointer;}





