
.centerer-menu {
  width: 66%;
  text-align:center;
  margin: 0 auto;
}

.btn-menu {
  position: relative;
  display: block;
  margin: 15px 0;
  color: #222;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
  -webkit-transition: 1s;
  transition: 1s;
}
.btn-menu:before {
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent transparent #555;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transition: 1s;
  transition: 1s;
}
.btn-menu:after {
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent #555 transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  -webkit-transition: 1s;
  transition: 1s;
}
.btn-menu:hover {
  color: #ddd;
  -webkit-transition: 1s;
  transition: 1s;
}
.btn-menu:hover:before {
  border-width: 135px 0 0 135px;
}
.btn-menu:hover:after {
  border-width: 0 135px 135px 0;
}
.btn-menu:active {
  background: #999;
  -webkit-transition: 1s;
  transition: 1s;
}

.btn-menu:before,
.btn-menu:after {
  z-index: -1;
}

/*/////////////////////*/
@charset "utf-8";
.svg-wrapper{margin-top:10%;border-radius:3px;text-align:center}
#shape{stroke-width:10px;fill:transparent;stroke:#555;stroke-dasharray:85 240;stroke-dashoffset:-220;transition:1s all ease}
#text{margin-top:-45px;text-align:center}
#text a{color:#222;text-decoration:none;font-size:2em}
#text a:hover{color:#0099ff}
.svg-wrapper:hover #shape{stroke-dasharray:50 0;stroke-width:5px;stroke-dashoffset:0;stroke:#0099ff}







