/*
*By GaoHR
*/
body {background-color:#fff;font-size:14px;overflow-x:hidden;background-image:url('http://gaohr.win/img/bg-02.jpg');background-size:100%;background-attachment:fixed;}
hr {margin-top:10px;margin-bottom:10px}
a {color:#08e}
a:hover {color:#f65;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;text-decoration: none;}
.mainlogo {position:fixed;top:0;left:0;background-color:#222;width:100%;padding:10px;z-index:999;max-height:40px;background-image:url('http://gaohr.win/img/others/nation70_bg.jpg');background-size:100%;}
.mainlogo a{position:fixed;left:6%;margin:10px 0;font-size:3em;font-family:'Microsoft YaHei';color:#ddd;}
.mainlogo a:hover {color:#ff4444}
.mainlogo .weather {height:40px;float:right;background:rgba(255,255,255,0.1);padding:5px 10px;margin-right:20px;margin-top:-15px;color:#fff;border-left:1px solid #fff;border-right:1px solid #fff}
.mainlogo .weather img {width:24px;height:24px;background:rgba(255,255,255,1);border-radius:50%;margin:0 5px}
.mainlogo .weather .tmp {margin:0 5px}
.mainlogo .weather .wnd {margin:0 5px}
.mainlogo .welcome {display:none}

.mainlogo p > img{float:right;color:#ddd;height:40px}
.mainlogo .headimg {float:right;width:36px;margin-right:5%}
.mainlogo .g-left {font-size:1.5em;font-family:'Broadway';}
.menulist ul > li > a{font-size:12px !important;line-height:16px !important;}

.breadcrumb {background-color:#fefefe}
.main-page {position:relative;margin-top:60px;background-color:rgba(255,255,255,0.8);z-index:0;height:auto;width:72%;margin-left:14%;}

.centerpage {height:auto;background-color:#fefefe;padding:10px 50px;display:inline-block;margin-bottom:20px}

.host {width:100%;text-align:center}
.host img {width:60%;max-width:200px;margin-top:10%;}
.host i {font-size:16px;color:#555;}
.sider-menu {font-size:20px;margin-top:10%;text-align:center;font-family:'Microsoft YaHei'}
.menu-active {color:#e03b29}
.block {margin-top:5%;width:100%;}
.hr {position:relative;width:100%;height:3px;background:#ccc;margin-top:20px;border-bottom:1px solid #fff}
.links {padding:5px;color:#236eb8;text-align:center}
.links p {font-size:1.5em;font-family:'SimHei'}
.links a {font-size:2.4em;}
.links .weibo  {color:#e03b29}.links .github {color:#333}.links .google  {color:#3b8029}.links .twitter {color:#2366bb}.links .fb {color:#5366bb}
.links a:hover{color:#236eb8}
.homepage-links {padding:2px;font-size:1.2em;font-family:'SimHei'}
.homepage-links a {padding:5px;margin-right:5px}
.homepage-links .rg {background:#4a9;color:#fff}
.homepage-links .rg:hover{background:#297}
.homepage-links .kyzx {background:#555;color:#fff}
.homepage-links .kyzx:hover{background:#333}
.homepage-links .gs {background:#4ac;color:#fff}
.homepage-links .gs:hover{background:#48a}
.homepage-links .orcid {background:#ac4;color:#fff}
.homepage-links .orcid:hover{background:#8a4}

.g-color-white {color:#fee !important}
.g-color-black {color:#555 !important}
.g-color-red {color:#f65 !important}
.g-color-orange {color:#f82 !important}
.g-color-yellow {color:#fc0 !important}
.g-color-green {color:#3a0!important}
.g-color-blue {color:#39e !important}
.g-color-purple {color:#e0e !important}
.g-color-gray {color:#888 !important}

.g-text-sm {font-size:0.8em !important}
.g-text-bg {font-size:1.25em !important}
.g-text-lg {font-size:1.5em !important}

.bg-white {background-color:#fffdf7}
.bg-black {background-color:#555}
.bg-red {background-color:#f65}
.bg-orange {background-color:#f82}
.bg-yellow {background-color:#fc0}
.bg-green {background-color:#4c0}
.bg-blue {background-color:#39e}
.bg-purple {background-color:#e0e}
.bg-gray {background-color:#888}

.text-center {text-align:center;}

#declare{width:100%;margin:0 auto}
#code{width:100%;height:auto;min-height:165px;background:#ffffff;color:#333;font-family:"宋体";font-size:12px;padding:2px 2px;box-shadow:0 3px 5px #aaa}
#code .space{margin-left:7px}
#code .var{color:#0000ff}
#code .string{color:#b22222}
#code .comments{color:#3f7f5f}

#gotoTop{display:none;position:fixed;top:90%;left:75%;cursor:pointer;padding:5px 0;width:50px;text-align:center;background:#555;color:#fff;border-radius:50%}
#gotoTop.hover{background:#D55C42;color:#fff;text-decoration:none;border-radius:0}
#gotoTop i {font-size:2em;line-height:40px;}

#comments {background:#fefefe;padding:10px;margin-top:10px;margin-bottom:10px;}

body footer p {margin:0;}
body footer {position:relative;background:#333;text-align:center;color:#fff;padding:20px 0 0 0;vertical-align:baseline;margin:0;}
body footer a {color:#09f}
body footer .footer-text {color: #9a9a9a;text-align: center;margin-top: 25px;line-height: 18px;font-size: 10px;}
body footer .footer-text span {display: block}
body footer .footer-copy {margin: 0 auto;border-top: 1px solid #616161;margin-top: 15px;text-align: center;padding-bottom: 15px;font-size:10px;padding-top:12px;}

.portlet {width:100%;margin:5px;margin-bottom:20px}
.portlet .title b{padding:3px;color:#333;font-size:1.2em;border-bottom:3px solid #d85546;font-family:'Microsoft YaHei'}
.portlet .title i{color:#333;padding:2px;font-size:1.2em;border-bottom:6px solid #d85546;}

.cltmap {width:100%;}
.dashang {width:100%;height:auto;text-align:center;}
.shang_img {width:80px;height:80px;background-image: url(../img/pay/shang.png);background-size:100% 100%;margin:auto;}
.tdcode {width:400px;height:240px;display:none;padding:10px;background:#777;border:1px soild #d85546}
.tdcode img {width:160px;margin:0 10px 10px 10px}
.dshstatis {width:100%;height:280px;padding:5px}
.dshlist {background:#333;width:98%;height:280px;color:#aaa;padding:5px}
.dshlist .dshtext {color:#eee;font-size:1.2em;border-bottom:0}
.dshlist .dshtext span {color:#f60;font-size:1.2em}
.dshlist .dshcontent {height:185px;overflow-y:scroll;}
.dshlist .dshcontent p {width:96%;margin-left:2%;margin:2px;border-bottom:1px dashed #aaa;margin:0 2px}
.dshlist .dshcontent p > i {color:#f40;margin-right:5px}
.dshlist .dshcontent p .name {color:#eee;margin-right:5px;font-weight:bold}
.dshlist .dshcontent p .money {margin:0 5px;color:#f65}
.dshlist .dshcontent p .money b {font-size:1.2em}
.dshlist .dshcontent p .date {color:#aaa}
.dshlist .dshcontent p .msg {color:#070}
.dshlist .dshbottom {color:#eee;font-size:1.2em}

#others {position:absolute;z-index:9999}

.mywarning {font-size:1.2em;color:#f00;font-family:'Times New Roman'}

.advertisement {position:fixed;bottom:10px;right:10px;width:360px;height:120px;color:#ccc;background:rgba(25,25,25,0.9);padding:10px;display:none}
.advertisement .ad-title {border-bottom:1px solid #ccc;padding:5px;font-size:1.1em}
.advertisement .ad-content {padding:5px}
.advertisement .ad-content a{color:#fd8}
.advertisement .ad-close span:before {content:"X"}
.advertisement .ad-close {color:#555;float:right;font-size:1.1em;background:rgba(255,255,255,1);border-radius:50%;padding:0 8px}

.greatChina {position:fixed;bottom:10px;right:10px;width:180px;color:#ccc;background:rgba(25,25,25,0.75);padding:10px;display:none}
.greatChina .ad-close span:before {content:"X"}
.greatChina .ad-close {color:#555;float:right;font-size:1.1em;background:rgba(255,255,255,1);border-radius:50%;padding:0 8px}
.flagimg {position:fixed;top:0px;left:30%;width:70px;z-index:9999}

.notice{position:fixed;top:60px;left:45%;width:320px;height:36px;background:url(http://gaohr.win/img/others/horn.png) no-repeat;z-index:9999;background-color:rgba(0,0,0,0.75);box-shadow:1px 1px 5px #aaa;border-radius:20px;}
.noticTipTxt{background:rgba(255,255,255,0.0);color:#ff7300;height:36px;line-height:36px;overflow:hidden;margin:0;padding:0 0 0 40px}
.noticTipTxt li{height:36px;line-height:36px;list-style-type:none;}
.noticTipTxt a{color:#fff;font-size:14px;text-decoration:none;vertical-align:middle;}
.noticTipTxt a:hover{color:#ff7300;text-decoration:underline;}

/* timer */
.timer-container {position: relative;margin:auto;overflow: hidden;width:100%;text-align: center;}
.timer-container p {color: #fff;font-size:1.2em}
#timer {color: #F6F4F3;text-align: center;margin-top: 5ps;}
.days, .hours, .minutes, .seconds {display: inline-block;padding: 5px 10px;width: auto;margin-right:5px;border-radius: 5px;background: #F6F4F3;color: #183059;}
.numbers {font-family: "Montserrat", sans-serif;color: #183059;font-size: 1.2em;font-weight:bold;}

/* search */
.g-search {position: fixed;top:14px;left:64%;text-align:center;z-index:99999}
.g-search input {background:rgba(255,255,255,0.2);border:0;border-right:1px solid #fff;border-radius:20px 0 0 20px;color:#fff;display:block;float:left;font-size:12px;height:32px;margin:0;padding:0 10px;width:120px;}
.g-search input::-webkit-input-placeholder {color: #fff;}
.g-search input:-moz-placeholder {color: #fff;}
.g-search input:focus {-webkit-animation: glow 800ms ease-out infinite alternate;-moz-animation: glow 800ms ease-out infinite alternate;animation: glow 800ms ease-out infinite alternate;background: rgba(255,255,255,0.9);color: #555;outline: none;}
.g-search input:focus::-webkit-input-placeholder { color: #555;}
.g-search input:focus:-moz-placeholder {color: #555;}
.g-search a {background: rgba(255,255,255,0.2);border-left:0;border-radius:0 20px 20px 0;color: #fff;display: block;float: left;font-size: 12px;height: 32px;line-height: 32px;margin: 0;padding: 0;position: relative;width: 42px;text-decoration: none;transition: all 0.3s ease;}
.g-search a:hover, .g-search a:focus {background: rgba(255,255,255,0.5);color: #5f5;transition: all 0.3s ease;}
.g-search a:active {background: rgba(255,255,255,0.2)}
.g-search .warning {display:none;width:100%;background:#f2eeee;color:#b94a48;margin-top:32px;border-color:#eed3d7;}
@-webkit-keyframes glow {
    0% {box-shadow: 0 0 5px rgba(0,255,0,0.1);border:1px solid #fff}
    100% {box-shadow: 0 0 20px rgba(0,255,0,1);border:1px solid #6f6}
}
@-moz-keyframes glow {
    0% {box-shadow: 0 0 5px rgba(0,255,0,0.1);border:1px solid #fff}
    100% {box-shadow: 0 0 20px rgba(0,255,0,1);border:1px solid #6f6}
}

.popup-search {display:none;position:absolute;z-index:9999;width:50%;margin-left:25%;height:60%;background:#fff;box-shadow:0 10px 50px rgba(0,0,0,0.5)}
.popup-search .title {position:relative;width:100%;height:55px;background:rgba(0,0,0,0.75);cursor:move;}
.popup-search .title p {padding-left: 14px;line-height: 55px;color: #fff;}
.popup-search .title span {position:absolute;top:12px;right:20px;width:30px;height:30px;color:#fff;opacity:0.7;font-size:16px;cursor:pointer;text-align:center;}
.popup-search .title span:hover {opacity:1;}
.popup-search .cont {padding:20px;font-size:12px;max-height:80%;overflow-y:scroll}

/*About*/
.info {font-family:'Microsoft YaHei';font-size:1.1em}
.info h3 {color:#da2e1b;}
.info span {padding:5px;margin:1px 3px}
.info p {color:#333}
.geyan {background-color:#eee;border-left:5px solid #d86666;border-right:5px solid #d86666;padding:2px 5px;color:#555;margin-right:10%;text-align:center}
.moreinfo {color:#333;font-size:1.1em}
.moreinfo .infotitle {color:#236eb8;font-weight:bold;font-size:18px;border-left:5px solid #d86666;padding-left:10px}
.moreinfo .infocontent{color:#444;padding:2px;margin-left:5%;margin-bottom:2%;border:1px solid rgba(0,0,0,0)}
.infocontent i {color:#d85546;font-size:1.2em;margin-right:1%}
.moreinfo .infocontent:hover i {color:#55d846;-webkit-transition: all 0.3s ease;transition: all 0.3s ease}
.moreinfo .infocontent:hover {padding:2px;background-color: #666;color:#fff;-webkit-transition: all 0.3s ease;transition: all 0.3s ease}

/*滚动条美化*/
::-webkit-scrollbar{width:10px;height:6px}
::-webkit-scrollbar-button:vertical{display:none}
::-webkit-scrollbar-track:vertical{background-color:transparent;}
::-webkit-scrollbar-track-piece{background-color:transparent;}
::-webkit-scrollbar-thumb:vertical{background-color:#3792ef;border-radius:6px}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:vertical:active {background-color: #2e86ef}

/* Emoticon */
.emo {width:30px}
.emo-sm {width:24px}
.emo-bg {width:36px}
.emo-lg {width:50px}
.emo-01-01 {content:url('../img/emoticon/01/01-01.png')}
.emo-01-02 {content:url('../img/emoticon/01/01-02.png')}
.emo-01-03 {content:url('../img/emoticon/01/01-03.png')}
.emo-01-04 {content:url('../img/emoticon/01/01-04.png')}
.emo-01-05 {content:url('../img/emoticon/01/01-05.png')}
.emo-01-06 {content:url('../img/emoticon/01/01-06.png')}
.emo-01-07 {content:url('../img/emoticon/01/01-07.png')}
.emo-01-08 {content:url('../img/emoticon/01/01-08.png')}
.emo-01-09 {content:url('../img/emoticon/01/01-09.png')}
.emo-01-10 {content:url('../img/emoticon/01/01-10.png')}
.emo-01-11 {content:url('../img/emoticon/01/01-11.png')}
.emo-01-12 {content:url('../img/emoticon/01/01-12.png')}
.emo-01-13 {content:url('../img/emoticon/01/01-13.png')}
.emo-01-14 {content:url('../img/emoticon/01/01-14.png')}
.emo-01-15 {content:url('../img/emoticon/01/01-15.png')}
.emo-01-16 {content:url('../img/emoticon/01/01-16.png')}
.emo-01-17 {content:url('../img/emoticon/01/01-17.png')}
.emo-01-18 {content:url('../img/emoticon/01/01-18.png')}
.emo-01-19 {content:url('../img/emoticon/01/01-19.png')}
.emo-01-20 {content:url('../img/emoticon/01/01-20.png')}
.emo-02-01 {content:url('../img/emoticon/02/02-01.png')}
.emo-02-02 {content:url('../img/emoticon/02/02-02.png')}
.emo-02-03 {content:url('../img/emoticon/02/02-03.png')}
.emo-02-04 {content:url('../img/emoticon/02/02-04.png')}
.emo-02-05 {content:url('../img/emoticon/02/02-05.png')}
.emo-02-06 {content:url('../img/emoticon/02/02-06.png')}
.emo-02-07 {content:url('../img/emoticon/02/02-07.png')}
.emo-02-08 {content:url('../img/emoticon/02/02-08.png')}
.emo-02-09 {content:url('../img/emoticon/02/02-09.png')}
.emo-02-10 {content:url('../img/emoticon/02/02-10.png')}
.emo-02-11 {content:url('../img/emoticon/02/02-11.png')}
.emo-02-12 {content:url('../img/emoticon/02/02-12.png')}
.emo-02-13 {content:url('../img/emoticon/02/02-13.png')}
.emo-02-14 {content:url('../img/emoticon/02/02-14.png')}
.emo-02-15 {content:url('../img/emoticon/02/02-15.png')}
.emo-02-16 {content:url('../img/emoticon/02/02-16.png')}
.emo-03-01 {content:url('../img/emoticon/03/03-01.png')}
.emo-03-02 {content:url('../img/emoticon/03/03-02.png')}
.emo-03-03 {content:url('../img/emoticon/03/03-03.png')}
.emo-03-04 {content:url('../img/emoticon/03/03-04.png')}
.emo-03-05 {content:url('../img/emoticon/03/03-05.png')}
.emo-03-06 {content:url('../img/emoticon/03/03-06.png')}
.emo-03-07 {content:url('../img/emoticon/03/03-07.png')}
.emo-03-08 {content:url('../img/emoticon/03/03-08.png')}
.emo-03-09 {content:url('../img/emoticon/03/03-09.png')}
.emo-03-10 {content:url('../img/emoticon/03/03-10.png')}
.emo-03-11 {content:url('../img/emoticon/03/03-11.png')}
.emo-03-12 {content:url('../img/emoticon/03/03-12.png')}
.emo-03-13 {content:url('../img/emoticon/03/03-13.png')}
.emo-03-14 {content:url('../img/emoticon/03/03-14.png')}
.emo-03-15 {content:url('../img/emoticon/03/03-15.png')}
.emo-03-16 {content:url('../img/emoticon/03/03-16.png')}

/* Loading */
.loading-1 {content:url('../img/others/loading-1.gif');width:20%;margin-left:40%}
.loading-2 {content:url('../img/others/loading-2.gif');width:60%;margin-left:20%}
.loading-earth {content:url('../img/others/loading-earth.gif');width:30%;margin-left:35%}
.loading-earth-s {content:url('../img/others/loading-earth-s.gif');width:20%;margin-left:40%}

/* Brand */
.icon-qq {content:url('../img/brand/qq.png');width:32px;}
.icon-wechat {content:url('../img/brand/wechat.png');width:32px;}
.icon-sina {content:url('../img/brand/sina.png');width:32px;}
.icon-github {content:url('../img/brand/github.png');width:32px;}


@media (max-width: 2000px) {
	.menulist {display:none;margin-left:10px}
}

@media (max-width: 1600px) {
	.main-page {width:98%;margin-left:0;padding-left:0;}
	.blogcontent .imginblog img {max-width:640px;}
}

@media (max-width: 560px) {
	.main-page {position:relative;width:100%;margin:15% 0;}
	.menulist {display:block;margin-top:10%;font-size:18px;}
	.menulist a{color:#333 !important;}
	.blogcontent .imginblog img {max-width:320px;}
	
	.svg {display:none}
	.sider-bar {display:none}
	.welcome {display:none}
	.block {display:none}
	.weather {display:none}
	.advertisement {display:none}
	.greatChina {display:none}
	.notice {display:none}
	.g-search {display:none}
}

@media (max-width: 480px) {
	.blogcontent .imginblog img {max-width:240px;}

}

@media (max-width:400px) {
	
}





