body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.6em;
}
.well h2 {
    color: #3D3D3D;
    font-size: 1.4em;
}
.well h3 {
    color: #030303;
    font-size: 1.2em;
	font-weight:bold
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
// for tag cloud and archives
.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify; 
  font-size: 16px;
  li {
    display: inline-block;
    margin: 0 12px 12px 0; 
  }
}
#archives {
  padding: 5px;
}
.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.archive-item {
  margin-left: 5px;
}
.post-tags {
  text-align: right;
}

/*  Back Top Button  */
#back-top {
  position: fixed;
  bottom: 30px;
  margin-left: 1040px;
  background-color: #aaa;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  transition: 0.7s;
}
#back-top:hover {
  background-color: #777;
}
#back-top a {
  color: #fff;
  text-decoration: none;
  padding: 12px 14px;
  display: inline-block;
}


