.topic {width:20%;margin:10px;text-align:center;}
.topic a > img {min-width:100px;opacity:1;border:1px solid rgba(0,0,0,0)}
.topic a > img:hover {min-width:100px;opacity:0.8;border:1px solid #6af}
.topic a > p {font-size:1.2em;font-family:'Microsoft YaHei';margin:2px}

.alltopics a {margin:5px;color:#933;}
.alltopics a:hover {color:#369;}
.alltopics a > p {font-size:1.1em;border-left:5px solid rgba(0,0,0,0);}
.alltopics a > p:hover {font-size:1.1em;border-left:5px solid #a77;}

.topiccontent {color:#222;background:#eee;padding:10px}
.topiccontent h2 {text-align:center}
.topiccontent .date {font-size:10px;color:#555;text-align:center !important}
.topiccontent p {font-size:14px;line-height:24px;text-indent:2em;font-family:'Microsoft YaHei'}
.topiccontent .imgintopic {width:auto;text-align:center}




