/**
 * site
 * 1.1.0
 * 2015-06-05
 */

html{font-size:24px}img{max-width:100%}
body{background-image:url('bg.jpg');background-repeat:no-repeat;}
.content-wrapper{font-size:.65em;background-color:rgba(255,200,200,.5);margin-top:10px}
.content-wrapper input[type=button]{font-size:.65rem;border-radius:.2rem;margin:.2rem}
.bottom{position:absolute;left:0;top:86%;color:#555;padding:0 240px;font-family:'suxinshiluanshiti';font-size:50px;background:rgba(255,255,255,.5);border-radius:10px;text-decoration:none}
.bottom:hover {background:rgba(255,255,255,.7);color:#222;transition:.3s}
.xhitem{font-family:'TianNiu';padding:1em;width:45%;height:240px;float:left;overflow:auto;background-color:rgba(255,255,255,.5);border:1px solid #fff;border-radius:10px}
.xhauthor{font-size:.55rem;background:#b3e0ff;color:#f55500;width:auto;line-height:1rem;border:1px solid #fff;border-radius:10px}
.xhpic{text-align:center;width:50%}
.xhpic:hover{width:100%;transition:.5s}

.weatherdiv{position:absolute;left:100%;font-size:0.5em;color:white;width:150px;background:rgba(0,0,0,0.3);padding:0.5em;border-radius:10px}
.weatherdiv:hover {background:rgba(0,0,0,0.5);}

.content-a{position:absolute;left:100%;top:50%;font-size:.65em;background-color:rgba(255,200,200,.5);margin-top:10px}
