---
layout: default
---

{% for post in paginator.posts %}
<div class="article">
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>
        <div class="content">
            {{ post.excerpt }}
			{% capture content_words %} 
			{{ post.content | number_of_words }} 
			{% endcapture %} 
			{% capture excerpt_words %} 
			{{ post.excerpt | number_of_words }} 
			{% endcapture %} 
			{% if excerpt_words != content_words %}
				<p><a class="btn btn-sm btn-primary" href="{{ post.url }}" role="button">Read more <i class="fa fa-arrow-circle-right"></i></a>
				</p>
			{% endif %}
        </div>
    </div>
</div>
{% endfor %}
			<!-- add back to up button -->
	<div id="back-top">
	  <a href="#top" title="back-to-top">
		<i class="fa fa-arrow-up fa-2x"></i>
	  </a>
	</div>
	<script type="text/javascript">
	$("#back-top").hide();
	$(document).ready(function () {
	  $(window).scroll(function () {
		if ($(this).scrollTop() > 100) {
		  $('#back-top').fadeIn();
		} else {
		  $('#back-top').fadeOut();
		}
	  });
	  $('#back-top a').click(function () {
		$('body,html').animate({
		  scrollTop: 0
		}, 500);
		return false;
	  });
	});
	</script>
<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>
