@font-face {
font-family: 'HeitiSC587217';
src: url('HeitiSC.eot');
src: url('HeitiSC.eot?#iefix') format('embedded-opentype'),
     url('HeitiSC.woff') format('woff'),
     url('HeitiSC.ttf') format('truetype'),
     url('HeitiSC.svg#HeitiSC') format('svg');
    font-weight: normal;
    font-style: normal;
   }