ul,ol,li,dl,dt,dd{text-decoration: none;list-style: none}

/*轮播*/
.poster {position:relative;width:100%;min-height:600px;background:#fff;padding:10px}
.poster-item {font-family:microsoft yahei,Arial;background:#fff;height:520px;width:240px;padding:20px;box-shadow:1px 1px 5px #555;transition:all 0.5s;cursor:default;-moz-transition:all 0.5s;cursor:default;-webkit-transition:all 0.5s;cursor:default;-o-transition: all 0.5s;cursor:default;}
.poster-item p {text-indent:0;}
.poster-item:hover {box-shadow:1px 1px 15px #5af;transition:all 0.1s}
.poster-item .title{font-size:24px;font-weight:600;margin-left:10px}
.poster-item .label{color:#eee;font-size:9px;padding:0 2px;background:#555;border-radius:45%;float:right}
.poster-item .info{color:#555;font-size:12px;margin:10px;text-align:center}
.poster-item .info .info-author{margin-right:10px}
.poster-item .info .info-loc{margin:0 10px}
.poster-item .info .info-date{font-size:0.8em}
.poster-item img {max-height:120px;margin-bottom:10px}
.poster-item .content {height:320px;color:#555;background:#fff;text-align:center;overflow-y:scroll}
.comment{position:absolute;bottom:10px;padding:10px;border-top:1px solid #aaa;color:#777;font-size:12px;}

