<div class="sidebar well">
<h1>Introduction</h1>
{{ site.description }}
<h1>Follow me</h1>
{% for link in site.follow %}
	<a href="{{ link.url }}" target="_blank"><i class="{{ link.class }}"></i></a>
{% endfor %}
</div>
<div class="sidebar well">
    <h1>Categories</h1>
{% for category in site.categories %}
<a href="/categories/#{{category | first}}"><h2>{{ category | first }}(<b>{{ category | last | size }}</b>)</h2></a>
<ul class="arc-list">
    {% for post in category.last limit:2 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}
</div>
<div class="sidebar well">
    <h1>Tags</h1>
	{% for tag in site.tags %}
        <a href="/tags/#{{ tag | first }}" style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 95}}%">
            {{ tag | first }}
        </a>
	{% endfor %}
</div>
<div class="sidebar well">
    <h1>Recent Blogs</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?u=RRJE&d=L1Y2sFwqcivBgltjD36ZuoE9dYHe_ac4K7_S1dhqu2U"></script>
