.main-page {font-family:'Microsoft YaHei'}

#map {width:102%;height:600px;background:url(../../2016-05-11-agot-map/img/black.jpg)}
.img-right img {border-radius:80%;opacity:0.8;width:70%;margin:3px}
.img-right img:hover {opacity:1}

.panel {padding:0;box-shadow:3px 3px 9px #555}
.panel-title {background-color:#555;padding:5px;color:#fff;font-size:1.2em}
.panel-title span {float:right;margin-right:5px;color:#eee}
.panel-body {background-color:#fff;padding:5px}
.panel-bottom {background-color:#fff;padding:5px}


.layerslist {width:320px;height:160px;overflow-y:scroll}
.layerslist .layer-cb {margin:5px 10px 0 24px;width:36%;float:left;padding:2px 2px 2px 5px;background-color:#fff;box-shadow:1px 2px 2px #aaa}
.layerslist .layer-cb:hover {background-color:#555;color:#eee;box-shadow:2px 2px 3px #999;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}

.personae {width:320px;height:300px;padding:5px;overflow-y:scroll}
.gridn {margin:2px;padding:0;width:80px;float:left}
.gridn figure {
	position: relative;z-index: 1;display: inline-block;overflow: hidden;margin: -0.135em;
	height: 75px;background: #fff;text-align: center;cursor: pointer;
}
.gridn figure img {position:relative;display:block;min-height:100%;opacity:1;border-radius:10%;border:2px solid #fff}
.gridn figure figcaption {
	color: #fff;text-transform: uppercase;-webkit-backface-visibility: hidden;backface-visibility: hidden;
}
.gridn figure figcaption::before,
.gridn figure figcaption::after {pointer-events: none;}
.gridn figure figcaption,
.gridn figure a {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.gridn figure h6 {word-spacing: -0.15em;font-weight: 300;}
.gridn figure h6 {margin: 0;}
figure.effect-sadie figcaption::before {
	position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.5) 75%);
	content: '';opacity: 0;border-radius:10px;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}
figure.effect-sadie h6 {
	position: absolute;top: 70%;left: 0;width: 100%;
	color: #ffffff;background-color: #707070;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);opacity: 0.5;
}
figure.effect-sadie:hover h6 {
	color: #fff;background-color: rgba(0,0,0,0.7);
	-webkit-transform: translate3d(0,0,0) translate3d(0,-25px,0);
	transform: translate3d(0,0,0) translate3d(0,-25px,0);
	opacity: 1;
}
figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.lyrmenu {text-align:center;z-index:99;margin-left:25%}
.lyrmenu i {font-size:32px;}