.colorpicker {
  position: relative;
  background: #000;
  width: 345px;
  padding-left: 100px;
  box-shadow: 0 24px 32px -2px rgba(0, 0, 0, 0.75);
  border: 3px solid #fff;
  text-align: center;
}
.colorpicker .hue {
  width: 100px;
  position: absolute;
  border: 3px solid #fff;
  top: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  background: linear-gradient(to bottom, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red);
}
.colorpicker .hue .drag {
  --y: 0;
  width: 20px;
  height: 20px;
  top: 1px;
  right: 0;
  position: absolute;
  -webkit-transform: translate(0, var(--y));
          transform: translate(0, var(--y));
}
.colorpicker .hue .drag:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 24px 12px 0;
  border-color: transparent #000 transparent transparent;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.colorpicker .hue .drag:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 24px 12px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  transform:rotate(180deg);
  right: 76px;
}
.colorpicker .field {
  --backgroundHue: 150;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background: hsl(var(--backgroundHue), 100%, 50%);
}
.colorpicker .field .fieldOverlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #000), linear-gradient(to right, #fff, transparent);
}
.colorpicker .field .fieldOverlay .drag {
  --x: 0;
  --y: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: -5px;
  top: -5px;
  border: 1px solid #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  -webkit-transform: translate(var(--x), var(--y));
          transform: translate(var(--x), var(--y));
}
.colorpicker input {
  background: none;
  padding: 0;
  display: table;
  text-align: center;
  width: 95%;
  color: #fff;
  font-size: 36px;
  border: 1px solid #eee;
  padding:5px;
}
.colorpicker ul {
  padding: 8% 16% 12% 16%;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.colorpicker ul li {
  font-size: 18px;
  text-align: center;
  min-width: 50px;
  color: rgba(255, 255, 255, 0.75);
}
.colorpicker ul li strong {
  display: block;
  color: #fff;
  font-size: 20px;
  margin: 0 0 40px 0;
}

.color {
  position: relative;
  background: #ffffff;
  width: 420px;
  height: 50px;
  margin-top:20px;
  border: 5px solid #fff;
  border-radius:50%;
  box-shadow: 0 24px 32px -2px rgba(0, 0, 0, 0.75);
 }
