{% include header.html %}


<!-- css for resume -->
<link href="{{ site.baseurl }}/css/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
<!--<link href="{{ site.baseurl }}/css/cv-print.css" type="text/css" rel="stylesheet" media="print"> 
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>-->

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
		<div class="well">
            {{ content }}
		</div>
        </div>
	</div>
</div>
{% include footer.html %}

